.minav{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: linear-gradient(117deg, #0b595c,#ba7327 ,#1f1e1d);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: #1f1e1d 0px 0px 10px;
}

.logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;    
}

.navbarme a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    text-decoration: none;
}